# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

language: r

#matrix: 3x Linux, 1x OS X
matrix:
  include:
  - r: release
  - r: oldrel
  - r: devel
  - r: 3.3.2

r_github_packages:
  - jimhester/covr

after_success:
  - Rscript -e 'covr::codecov()'

